:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --color-background: #dadada;
  --color-background-secondary: #9a9a9a;
  --color-text: #4A4A4A;
  --color-primary: #283642;
  --color-secondary: #009688;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background-color: var(--color-background);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #121212;
    --color-background-secondary: #333333;
    --color-text: #FFFFFF;
    --color-primary: #E91E63;
    --color-secondary: #9C27B0;
  }
}
